@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Quicksand:wght@300..700&display=swap');

:root {
    --text-color: #362d2d;
    --text-color2: #dd174e;
    --backgroung-color: #fff4f4;
    --color-pink: #fcc1d1;
  }

* {
    color: var(--text-color);
}

header {
    background-color: var(--color-pink);
    border-bottom: 1px solid var(--text-color2);
}

body { 
    font-family: 'Quicksand' , sans-serif;; 
    text-align: center; 
    margin: 20px; 
    background-color: var(--backgroung-color);
}

footer {
    margin-top: 2em;
    background-color: var(--color-pink);
    border-top: 1px solid var(--text-color2);
}

.container { 
    max-width: 800px; 
    margin: auto; 
}

video { 
    width: 100%; 
    border-radius: 10px; 
}

video::cue {
    color: var(--text-color); /* Color del texto de los subtítulos */
    background-color: var(--color-pink); /* Fondo semi-transparente para los subtítulos */
    font-family: 'Quicksand', sans-serif; /* Fuente de los subtítulos */
    margin-bottom: 2em;
    border-radius: 5px; /* Bordes redondeados para los subtítulos */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra para hacer los subtítulos más visibles */
}
